In [2]:
import pandas as pd

clothes = pd.read_csv("DressUp Game - Sheet1.csv")
clothes

       Clothing Name     Category  Cost  Fashion Score
0         Red Blouse   Upper Half    10              4
1      Polka Dot Top   Upper Half     5              2
2   Blue Button Down   Upper Half     3              1
3  Ugly Xmas Sweater   Upper Half     1              1
4      Classic Jeans   Lower Half    20              5
5    MC Hammer pants   Lower Half    10              1
6            Glasses  Accessories     5              1
7           Blue Tie  Accessories     3              1
8         High Heels        Shoes    15              4
9           Sneakers        Shoes    13              3

In [12]:
wearing = ["Red Blouse", "Polka Dot Top", "Blue Button Down"]


clothes[clothes["Clothing Name"].isin(wearing)]["Fashion Score"].sum()

7

In [ ]:
import pandas as pd

def budget_tracker(self, budget):
    budget = 100
    clothes = pd.read_csv("DressUp Game - Sheet1.csv")
    wearing = ["Red Blouse", "Polka Dot Top", "Blue Button Down"]
# wearing.pop()
# wearing.append("High Heels")
    empty = []
    if self.sell_clothes or self.buy_clothes:
        while budget > 0:
            budget -= clothes[clothes["Clothing Name"].isin(wearing)]["Cost"].sum()
            empty.append(budget)
        clothes["Budget"] = pd.Series(empty)
        return clothes