In [4]:
import pandas as pd

clothes = pd.read_csv("DressUp Game - Sheet1.csv")
clothes

       Clothing Name     Category  Cost  Fashion Score
0         Red Blouse   Upper Half    10              4
1      Polka Dot Top   Upper Half     5              2
2   Blue Button Down   Upper Half     3              1
3  Ugly Xmas Sweater   Upper Half     1              1
4      Classic Jeans   Lower Half    20              5
5    MC Hammer pants   Lower Half    10              1
6            Glasses  Accessories     5              1
7           Blue Tie  Accessories     3              1
8         High Heels        Shoes    15              4
9           Sneakers        Shoes    13              3

In [5]:
wearing = ["Red Blouse", "Polka Dot Top", "Blue Button Down"]


clothes[clothes["Clothing Name"].isin(wearing)]["Fashion Score"].sum()

7

In [25]:
closet = []
budget = 100
item = input(str("Which item would you like to buy? "))
item_index = clothes[clothes["Clothing Name"] == item].index.values
item_cost = clothes.loc[clothes.index[item_index], "Cost"]
#if (clothes["Clothing Name"].eq(item)).any() and (budget > item_cost):
    #closet.append(item)
    #budget -= item_cost
print(item_index)
print(clothes.loc[item_index, 'Cost'])

Which item would you like to buy?  Red Blouse

[0]
0    10
Name: Cost, dtype: int64